@charset "utf-8";
/* Styles to be used by all the pages */

:root {
	--col-black: #222222;
	--col-white: #F2EDE9;
	--col-bold: #09A29C;
	--col-dots: #3d3d3d;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Inter', sans-serif;
	font-weight: 500;
}

body {
	height: calc(100vh);
	background-color: var(--col-bold);
}

.f-spc-g {
	font-family: "Space Grotesk", sans-serif;
}

.debug-desktop, .debug-mobile {
	position: sticky;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	width: 100%;
	height: 40px;
}

.debug-desktop {
	color: var(--col-white);
	background-color: var(--col-bold);
	border: 2px solid var(--col-black);
}

.debug-mobile {
	color: var(--col-white);
	background-color: var(--col-black);
	border: 2px solid var(--col-bold);
}

/* Helpers */
.rnd {
	border-radius: 12px;
}

.bdr {
	border: 2px solid;
}

.ease-bounce {
	transition: all 1.0s cubic-bezier(0.25, 0.10, 0.59, 1.37);
}