@charset "utf-8";
/* Styles to be used by all the pages */

:root {
	--col-black: #222222;
	--col-white: #F2EDE9;
	--col-red: #DC0C24;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Inter', sans-serif;
}

body {
	height: calc(100vh);
}

.debug-desktop, .debug-mobile {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	width: 100%;
	height: 40px;
}

.debug-desktop {
	color: var(--col-white);
	background-color: var(--col-red);
	border: 2px solid var(--col-black);
}

.debug-mobile {
	color: var(--col-white);
	background-color: var(--col-black);
	border: 2px solid var(--col-red);
}

/* Helpers */

.c-rounded {
	border-radius: 12px;
}

.check {
	border: 2px solid var(--col-red);
}