@charset "utf-8";
/* Styles to be used by index.html - Mobile */
/* Device for Reference			   :  Iphone 17 - Latest release dated 27 December 2025 */
/* Target Aspect Ratio  (Mobile)   :  19.5:9 */
/* Target Aspect Ratio  (Desktop)  :  16:9 */

/* Common for Desktop and Mobile */
body {
	text-align: center;
	align-items: center;
}

/* Desktop exclusive */
navbar {
	position: sticky;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	width: 100%;
	height: 60px;
	background-color: var(--col-black);

	padding: 0 3%;

	div:first-child {
		width: 130px;
		height: auto;
	}

	ul, li, a{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		list-style-type: none;
		text-decoration: none;
		color: var(--col-white);
	}

	a {
		padding: 8px 30px;
		border-left: 2px solid var(--col-bold);
		transition: all 0.2s ease-out;
	}

	ul li a:hover{
		transform: scale(1.05);
		color: var(--col-white);
		background-color: var(--col-bold);
		transition: all 0.2s ease-out;
		border: none;
	}

	ul li:last-child a{
		padding: 8px 16px;
		color: var(--col-black);
		background-color: var(--col-bold);
		font-weight: 600;
		font-size: 1.1rem;
		margin-left: 2px;
	}

	ul li:last-child a:hover{
		transform: scale(1.05);
		color: var(--col-bold);
		background-color: var(--col-white);
	}
}

.c-main {
	height: calc(100vh - 60px);
	width: auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	div {height: 100%;}
}

.c-carousel {
	width: 57%;
}

.c-menu-1 {
	width: 43%;
}

/* Mobile exclusive */

/* Interface detection */
.debug-mobile { display: none; }
.debug-desktop { display: flex; }

.hide-mobile { display: none; }
.hide-desktop { display: flex; }

@media (max-width: 768px) {
	.debug-mobile { display: flex; }
	.debug-desktop { display: none; }

	.hide-desktop { display: none; }
	.hide-mobile { display: flex; }
}