@charset "utf-8";
/* Styles to be used by index.html - Mobile */
/* Device for Reference			   :  Iphone 17 - Latest release dated 27 December 2025 */
/* Target Aspect Ratio  (Mobile)   :  19.5:9 */
/* Target Aspect Ratio  (Desktop)  :  16:9 */

/* Common for Desktop and Mobile */
body {
	text-align: center;
	align-items: center;
}

/* Desktop exclusive */
navbar {
	z-index: 1000;
	position: sticky;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	width: 100%;
	height: 60px;
	background-color: var(--col-black);

	padding: 0 3%;
	box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.5);

	.hide-desktop {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
	}

	.hide-mobile {
		display: none;
	}

	@media (max-width: 768px) {
		padding: 0;

		.hide-desktop { display: none; }
		.hide-mobile {
			width: 100%;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;


			div:first-child {
				display: flex;
				flex-grow: 1;
				padding-left: max(8%, 25px);
			}

			div:last-child {
				height: 60px;
				width: 60px;
				background-color: var(--col-white);
				display: flex;
				p {
					height: 100%;
					width: 100px;
					display: flex;
					justify-content: center;
					align-items: center;
					line-height: 5px;
					letter-spacing: -3.2px;
					cursor: pointer;
				}

				p:hover{
					background-color:var(--col-bold);
					color: var(--col-white);
					transition: all 0.15s;
				}
			}
		}
	}

	img {
		display: flex;
		width: 130px;
		height: auto;
	}

	ul, li, a {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		list-style-type: none;
		text-decoration: none;
		color: var(--col-white);
	}

	a {
		padding: 8px 30px;
		border-left: 2px solid var(--col-bold);
		transition: transform 0.2s cubic-bezier(0.27, 1.10, 0.76, 1.35);
	}

	ul li a:hover{
		transform: scale(1.05);
		color: var(--col-white);
		background-color: var(--col-bold);
		border: none;
		transition: transform 0.2s cubic-bezier(0.27, 1.10, 0.76, 1.35);
	}

	ul li:last-child a{
		padding: 8px 16px;
		color: var(--col-white);
		background-color: var(--col-bold);
		font-weight: 600;
		font-size: 1.1rem;
		margin-left: 2px;
	}

	ul li:last-child a:hover{
		transform: scale(1.05);
		color: var(--col-bold);
		background-color: var(--col-white);
	}
}

.c-main {
	height: calc(100vh - 60px);
	width: auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	overflow: hidden;

}

.c-carousel {
	z-index: 0;
	width: 65%;
	height: 100%;
	position: relative;
	overflow: hidden;
}

.c-carousel-track {
	display: flex;
	width: 100%;
	height: 100%;
}

.c-slide-main {
	display: flex;
	flex-direction: row;
	flex: 0 0 100%;
	width: 100%;
	position: relative;

	.c-slide-img {		
		height: 100%;
		width: 100%;

		img {
			height: 100%;
			width: 100%;
			object-fit: cover;
			object-position: left;			
		}
	}

	.c-slide-shadow {
		position: absolute;
		z-index: 5;
		height: 100%;
		width: 100%;
		background: linear-gradient(
			to top,
			var(--col-white) 20%,
			transparent 40%
		);
	}

	.c-slide-title, .c-slide-desc {
		z-index: 400;
		color: white;
		mix-blend-mode: difference;
		white-space: nowrap;
	}

	.c-slide-title {
		font-size: 4rem;
		position: absolute;
		left: 5rem; bottom: 5.75rem;
	}

	.c-slide-desc {
		font-size: 1.5rem;
		position: absolute;
		left: 5rem; bottom: 4.75rem;
	}

	@media (max-width: 768px) {
		.c-carousel {
			height: 25vh;
			min-height: 250px;
		}

		.c-carousel-track {
			height: 100%;
		}

		.c-slide-img {
			height: 100%;
			min-height: 250px;
			width: 100vw;
			object-fit: contain;
		}

		.c-slide-title, .c-slide-desc {
			left: 2rem;
		}

		.c-slide-title {
			font-size: 3rem;
			bottom: 2.5rem;
		}

		.c-slide-desc {
			font-size: 1.1rem;
			bottom: 1.9rem;
		}
	}
}

.c-carousel-controls {
	position: absolute;
	z-index: 600;
	left: 4rem;
	top: 2.5rem;
	display: flex;
	gap: 0.5rem;
}

@media (max-width: 768px) {
	.c-carousel-controls {
		left: auto;
		right: 3rem;
		top: auto;
		bottom: 2rem;
		opacity: 75%;
		mix-blend-mode: difference;
	}
}

.c-carousel-button {
	width: 3rem;
	height: 3rem;
	border: none;
	background-color: var(--col-black);
	color: var(--col-white);
	font: inherit;
	font-size: 1.5rem;
	cursor: pointer;
	position: relative;
	box-shadow: 0px 0px 10px 0px var(--col-white);
	transition: box-shadow 0.2s cubic-bezier(0.27, 1.10, 0.76, 1.15);
	transition: transform 0.2s cubic-bezier(0.27, 1.10, 0.76, 1.15);

	svg{
		position: absolute;
		left: -8rem;
		height: 1.5rem;
		fill: var(--col-white);
		z-index: 10000;
	}
}

.c-carousel-button:first-child svg { transform: rotate(-90deg); top: -5.5rem; }
.c-carousel-button:last-child svg { transform: rotate(90deg); top: 7rem; left: -7.8rem; }

.c-carousel-button:hover {
	background-color: var(--col-bold);
	transform: scale(1.2);
	box-shadow: none;
	transition: box-shadow 0.2s cubic-bezier(0.27, 1.10, 0.76, 1.15);
	transition: transform 0.2s cubic-bezier(0.27, 1.10, 0.76, 1.15);

	@media (max-width: 768px) {
		background-color: #A2090F;
	}
}

@keyframes anim-greet {
	0% { transform: rotate(-3deg) scale(1.05); }
	100% { transform: rotate(-3deg) scale(1.0); }
}

.c-menu-1 {
	z-index: 500;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden;

	width: 35%;
	min-width: 400px;
	background-color: var(--col-black);
	color: white;
	background-image: radial-gradient( var(--col-dots) 1.5px, transparent 0);
	background-size: 35px 35px;

	p {
		font-size: 1.25rem;
	}

	.greet{
		background-color: var(--col-bold);
		color: var(--col-white);

		font-size: max(6vmin, 45px);
		font-weight: 800;
		padding: 10px 80px;
		margin: 40px 0 30px 0;
		transform: rotate(-3deg) scale(1.0); 

		animation-name: anim-greet;
		animation-duration: 0.7s;
		animation-iteration-count: infinite;
		animation-direction: alternate;

		animation-timing-function: cubic-bezier(0.27, 1.1, 0.76, 1);
	}

	.p-mix-1{
		display: block;
		height: auto;
		padding: 10px 50px;

		p, h1 {
			padding: 0 0;
			font-weight: 600;
			background-color: transparent;
			display:inline;
			font-size: max(1.875vmin, 14px);
		}

		h1 {
			display:inline;
			font-weight: 700;
			background-color: var(--col-bold);
			color: var(--col-white);
			padding: 2px 4px;
		}
		
	}

	p:nth-child(3) {
		font-size: max(1.575vmin, 12px);
		width: 90%;
		padding: 10px 0;
		font-weight: 500;
		background-color: var(--col-white);
		color: var(--col-black);
	}

	.p-mix-1{
			p {
			font-weight: 600;
			background-color: transparent;
			color: var(--col-white);
			font-size: max(1.875vmin, 15px);
			line-height: 3vmin;
		}
	}

	p:nth-child(4) {
		margin-top: 20px;
		font-size: max(3vmin, 20px);
		font-weight: 700;
	}

	.list-1 {
		width: 120%;
		overflow: hidden;
		display: flex;
		align-items: center;
		flex-direction: row;
		margin: max(1.3vmin, 30px) 0;
		height: 10vh;
		min-height: 40px;
		max-height: 60px;

		list-style-type: none;
	}

	.list-1 li h2{
		height: 2vmin;
		margin-left: 50px;
		font-size: max(1.5vmin, 14px);

		background-color: var(--col-black);
		display: flex;
		flex-direction: column;
		justify-content: center;
		white-space: nowrap;
		padding: max(2vmin, 14px);
		border: var(--col-white) 2px solid;
	}
}

.list-2 {
	flex-grow: 1;
	width: 100%;
	padding: max(2.5vmin, 30px) 0;
	gap: max(2.5vmin, 30px);
	overflow: scroll;
	display: flex;
	flex-direction: column;
	align-items: center;
	list-style-type: none;
	background: var(--col-white);

	li {
		font-size: max(1.55vmin, 20px);
		width: 80%;
		background-color: var(--col-black);
		color: var(--col-white);
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.active {
		background-color: var(--col-bold);
		color: var(--col-white);
		transition: transform 0.2s cubic-bezier(0.27, 1.10, 0.76, 1.35);
		cursor: pointer;
	}

	.active:hover{
		transform: scale(1.1);
		transition: transform 0.2s cubic-bezier(0.27, 1.10, 0.76, 1.35);
		cursor: pointer;
	}

	button {
		padding: 1.55vmin;
		width: 100%;
		border: none;
		background-color: transparent;
		color: var(--col-white);
		font-size: max(1.55vmin, 20px);
	}
}

.wip {
	width: 100%;
	max-height: 8vmin;
	z-index: 1000;
	display: flex;
	flex-direction: column;
	justify-content: center;

	p {
		font-size: max(1.4vmin, 12px);
		padding: 1.2vmin 1.5vw;
	}
}

.pop-t {
	opacity: 0%;
	pointer-events: none;
	width: 20vw;
	min-width: 350px;
	bottom: -100px;
	background-color: white;
	box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.5);
	left: 44vw;
	position: fixed;
	z-index: 1000;
	li {list-style-type: none;}
	transition: all 0.2s cubic-bezier(0.27, 1.10, 0.6, 1.25);

	display: flex;
	flex-direction: column;
	padding: 1rem;

	h6 {
		font-size: 1.5rem;
		margin-bottom: 10px;
	}

	.list-2 li {
		height: auto;
	}
}

.pop-t.active {
	bottom: 100px;
	opacity: 100%;
	pointer-events: auto;
}

.pop-bcm-c {
	z-index: 1001;
	left: calc(44vw - 150px);
}

.list-2 li.active button{cursor: pointer;}

.list-2-close{
	width: auto !important;
	
	button {
		width: auto;
		background-color: #A2090F;
		cursor: pointer;
	}
}

/* Mobile exclusive */

/* Interface detection */
.debug-mobile { display: none; }
.debug-desktop { display: flex; }

.hide-mobile { display: none; }
.hide-desktop { display: flex; }

@media (max-width: 768px) {
	.debug-mobile { display: flex; }
	.debug-desktop { display: none; }

	.hide-desktop { display: none; }
	.hide-mobile { display: flex; }

	.c-main {
		height: auto;
		flex-direction: column;
	}

	.c-carousel,
	.c-menu-1 {
		width: 100%;
		min-width: 0;
	}
}