@charset "utf-8";
/* Styles to be used by index.html - Mobile */
/* Device for Reference			   :  Iphone 17 - Latest release dated 27 December 2025 */
/* Target Aspect Ratio  (Mobile)   :  19.5:9 */
/* Target Aspect Ratio  (Desktop)  :  16:9 */

/* Common for Desktop and Mobile */
body {
	background-color: var(--col-white);
	color: var(--col-);

	text-align: center;
	align-items: center;
}

.space-vert {


	display: flex;
	flex-direction: column;
	gap:100px;
}

.under-construction {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;

	border: 2px solid var(--col-black);

	img{
		width: auto;
		height: 100%;
	}
}

/* Desktop Exclusive */
.debug-mobile {
	display: none;
}

.debug-desktop {
	display: flex;
}

/* Mobile Exclusive */
@media (max-width: 768px) {
	.debug-mobile {
		display: flex;
	}

	.debug-desktop {
		display: none;
	}

	.under-construction{
		align-self: center;
		height: 120px;
		width: 60vw;
		max-width: 450px;
		min-width: 300px;
	}
}