@charset "utf-8";
/* Styles to be used by index.html - Mobile */
/* Device for Reference			   :  Iphone 17 - Latest release dated 27 December 2025 */
/* Target Aspect Ratio  (Mobile)   :  19.5:9 */
/* Target Aspect Ratio  (Desktop)  :  16:9 */

/* Common for Desktop and Mobile */
body {
	background-color: var(--col-white);
	color: var(--col-);

	text-align: center;
	align-items: center;
}

.space-vert {
	display: flex;
	flex-direction: column;
}

h1 {
	display: flex;
	justify-content: center;
		align-items: center;
	margin: 0;
	padding: 0;
	color: var(--col-white);
	width: 100%;

	&:first-of-type {
		font-size: max(5vw , 40px);
		min-height: 100px;
		padding: 20px;
		background-color: var(--col-red);
	}

	&:nth-of-type(2) {
		background-color: var(--col-black);
		padding: 10px;
	}
}

.legacy-site-warning-toggle{
	border: none;
	font-size: 20px;
	font-weight: bold;
	background-color: white;
	height: 100px;

	&:hover {
		background-color: var(--col-red);
		color: var(--col-white);
	}
}

.legacy-site-warning {
	display: none;
	flex-direction: column;
	overflow: hidden;
}

.legacy-site-warning-header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 10px;

	img{
		height: max(50px, 10vw);
	}
}

/* Desktop Exclusive */
.debug-mobile {
	display: none;
}

.debug-desktop {
	display: flex;
}

/* Mobile Exclusive */
@media (max-width: 768px) {
	.debug-mobile {
		display: flex;
	}

	.debug-desktop {
		display: none;
	}

	.under-construction{
		align-self: center;
		height: 120px;
		width: 60vw;
		max-width: 450px;
		min-width: 300px;
	}
}

/* Helpers */
.boilerplate {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	align-self: center;
	margin: min(40px, 10%) auto;
	padding: 10px;
	max-height: 200px;
	max-width: 450px;

	img{
		max-height: 200px;
		width: 30%;
	}
}